<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <!-- for projects based on packages.config - native C++ -->
        <add key="repositoryPath" value="packages" />
        <!-- for projects based on PackageReference - managed C#, C++/CLI -->
        <add key="globalPackagesFolder" value="global-packages" />
    </config>
    <packageRestore>
        <add key="enabled" value="True" />
    </packageRestore>
</configuration>
